<header>
  <nav class="top-bar">
    <div class="half-circle-outside-wrap"></div>
    <a href="\">
      <img id="icon" src="/images/LightRestoTransp.png" href="/">
    </a>
        <% if (!user) { %>
        <form action="/login" method="post">
          <div id="navButtons">
            <div class="btn-group" role="group" aria-label="Users's drop down selection">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select User
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <input class="dropdown-item" type="submit" name="user" value="Bob">
                <input class="dropdown-item" type="submit" name="user" value="Alice">
                <input class="dropdown-item" type="submit" name="user" value="Frodo">
              </div>
            </div>
            <button class="btn btn-secondary" type="submit" name="user" value="Restaurant">Restaurant</button>
          </div>
        </form>
        <% } else {%>
        <div id="navButtons">
        <form class="form-inline">
          <span>Signed In as <%= user %></button>
        </form>
        <% if (user !== 'Restaurant') {%>
        <form class="form-inline" action="/users" method="post">
          <button class="btn btn-secondary" name="currentUsername" value="<%= user %>" type="submit">Order Status</button>
        </form>
        <% } %>
        <form class="form-inline" action="/logout" method="post">
          <button class="btn btn-secondary" type="submit">Log Out</button>
        </form>
        </div>
        <% } %>
    </nav>
</header>

