<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">LightResto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if (!user) { %>
        <form class="nav-item nav-link" action="/login" method="post">
          <button type="submit" name="user" value="2">Bob</button>
        </form>
        <form class="nav-item nav-link" action="/login" method="post">
          <button type="submit" name="user" value="1">Alice</button>
        </form>
        <form class="nav-item nav-link" action="/login" method="post">
          <button type="submit" name="user" value="3">Frodo</button>
        </form>
        <form class="nav-item nav-link" action="/login" method="post">
          <button type="submit" name="user" value="4">Resto</button>
        </form>
        <% } else {%>
        <form class="nav-item nav-link" action="/logout" method="post">
          <button type="submit">Log Out</button>
        </form>
        <% } %>
      </div>
    </div>
  </nav>
</header>
