<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">LightResto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <% if (!user) { %>
      <form class="form-inline" action="/login" method="post">
        <div class="btn-group" role="group" aria-label="Users's drop down selection">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select User
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <input class="dropdown-item" type="submit" name="user" value="Bob">
              <input class="dropdown-item" type="submit" name="user" value="Alice">
              <input class="dropdown-item" type="submit" name="user" value="Frodo">
            </div>
          </div>
          <button class="btn btn-primary" type="submit" name="user" value="Restaurant">Restaurant</button>
        </div>
      </form>
      <% } else {%>
      <p>Signed In as <%= user %></p>
      <form class="form-inline" action="/logout" method="post">
        <button class="btn btn-primary" type="submit">Log Out</button>
      </form>
      <% } %>
    </div>
  </nav>
</header>
