<main>
  <div class="jumbotron jumbotron-fluid d-flex flex-row justify-content-center">
    <img class="img-fluid" src="https://assets.biggreenegg.eu/app/uploads/2019/03/28145521/topimage-classic-hamburger-2019m04-800x534.jpg" alt="">
  </div>
  <section id="menu" class="d-flex ml-5 flex-column">
    <h2>aslkdfjaslkdf</h2>
    <h2>aslkdfjaslkdf</h2>
    <h2>aslkdfjaslkdf</h2>
    <h2>aslkdfjaslkdf</h2>
    <h2>aslkdfjaslkdf</h2>
  </section>
</main>
