<div class="order-slider d-flex flex-column align-items-center" style="max-width: 20vw">
  <div class="order-items d-flex flex-row align-items-center justify-content-between" style='border: 1px solid black; padding: 0.2rem; margin: 0.1rem; width: 100%;'>
    <span>Hamburger</span>
    <span>x10</span>
  </div>
  <label for="total">Total Price</label>
  <span id="order-total" name="total">$0</span>
  <input id="checkout" class="btn btn-primary btn-lg" type="button" name="checkout" value="Checkout">
</div>
