<div class="order-details-container">
  <span id="close">X</span>
  <div class="order-details">
    <span>I AM THE USER NAME</span>
    <div class="dish d-flex flex-row justify-content-around align-items-center">
      <div class="details d-flex flex-column">
        <span>Dish NAME</span>
        <span>Dish DETAILS THIS CALKSDJFLKASJ FLKSADFJL KASDJFLKASD JFLKSADJFLK ASDJFKLSAJLKFJASLKFJLKSADJFKLSADJFLKASDJLKCLAHDFLKASJCLKADSHFLASDKJCL;KASJDF;LASDKJF;LSKADJF;LASKDJF;LKJ</span>
      </div>
      <span>Dish QUANTITY</span>
    </div>
    <div class="dish d-flex flex-row justify-content-around align-items-center">
      <div class="details d-flex flex-column">
        <span>Dish NAME</span>
        <span>Dish DETAILS THIS CALKSDJFLKASJ FLKSADFJL KASDJFLKASD JFLKSADJFLK ASDJFKLSAJLKFJASLKFJLKSADJFKLSADJFLKASDJLKCLAHDFLKASJCLKADSHFLASDKJCL;KASJDF;LASDKJF;LSKADJF;LASKDJF;LKJ</span>
      </div>
      <span>Dish QUANTITY</span>
    </div>
    <button class="btn btn-primary btn-lg" type="button" name="button">Place Order</button>
  </div>
</div>
