<div class="order-slider d-flex flex-column align-items-center">
  <label for="total">Total Price</label>
  <span id="order-price" name="total">$0</span>
  <input id="checkout" class="btn btn-primary btn-lg" type="button" name="checkout" value="Checkout">
</div>
