<div class="order-details-container">
  <button id="close" class="btn btn-link" type="button" name="button">X</button>
  <%# <span id="close">X</span> %>
  <div class="order-details">
    <% if (user) { %>
    <span>Hello <%= user %>, this is your order!</span>
    <% } else {%>
    <span>Hello Guest, this is your order!</span>
    <% } %>
    <div class="order-price-summary d-flex flex-row justify-content-end align-items-center">
      <span id="final-price">test</span>
      <button id="place-order" class="btn btn-primary btn-lg" type="submit" name="userName" value="<%= user %>">Place Order</button>
    </div>
  </div>
</div>
