<restaurantNav>

  <div>
    <form class="buttons" action="/restaurants" method="GET">
      <button type="submit" class="btn btn-outline-success">Current Orders</button>
    </form>

    <form class="buttons" action="/restaurants/pickup" method="GET">
      <button type="submit" class="btn btn-outline-primary">Ready for pickup</button>
    </form>

    <form class="float buttons" action="/restaurants/complete" method="GET">
      <button type="submit" class="btn btn-outline-info">Order History</button>
    </form>

  </div>
</restaurantNav>
