#menu {
  width: 50vw;
  // background-color: white;
  border-radius: 5rem;
  padding: 2rem;

  article {
    border-radius: 2rem;
    padding: 1rem;
    background-color: #Fff;

    &:hover {
      box-shadow: 0.5px 0.5px 5px black;
      background-color: rgba(221, 221, 221, 0.34);
    }

    .description {
      img {
        max-height: 5.5rem;
        border-radius: 2rem;
      }
    }

    .quantity-and-price {
      .quantity {
        .input-group {
          input {
            max-width: 100%;
            width: 5vw;
          }
        }
      }
    }
  }
}
