#menu {
  width: 50vw;
  background-color: #fff;

  article {
    border: 1px solid black;
    padding: 1rem;

    .quantity-and-price {
      margin-left: 6rem;
      margin-right: 6rem;
      @media all and (max-width: 1024px) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
