div.order-details-container {
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 10rem;
  top: 0;
  z-index: 10;

  .order-details {
    position: relative;
    background-color: red;
    padding: 2rem 2rem 4rem;

    .dish {
      padding: 0.5rem 2rem;
      border: 1px solid black;
      margin: 1rem;
      word-break: break-all;

      span {
        max-width: 40vw;
      }
    }

    button {
      position: absolute;
      color: purple;
      right: 2rem;
    }
  }
}
