.order-slider {
  background-color: #FFF;
  position: fixed;
  bottom: 8vh;
  right: 17vw;
  padding: 1rem;
  max-height: 25vh;
  overflow-y: auto;
  @media all and (max-width: 1024px) {
    right: 5vw;
  }

  .order-items {
    border: 1px solid black;
    padding: 0.2rem;
    margin: 0.1rem;
    width: 100%;
  }

  input#checkout {
  }
}
