// See: https://sass-lang.com/
@import 'header';

body {
  background-color: #9ca19c;

  #imgMain {
    background-image: url("/images/main.jpeg");
  }

  #imgUser {
    background-image: url("/images/user.jpg");
  }

  #imgRestaurant {
    background-image: url("/images/restuarant.jpeg");
  }

  #imgMain, #imgUser, #imgRestaurant {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
    margin-bottom: 1rem;

    h1 {
      color: white;
      font-size: 7rem;
      width: 40vw;
    }
  }

  main {
    // background: #6d86e0;
    width: 70vw;
    margin: 1rem auto;

    @import 'menu';
    @import 'orderSlider';
  }
  @import 'orderDetails';
}
