// See: https://sass-lang.com/
@import 'header';

body {
  // background-color: rgba(145, 145, 145, 0.78);
  // background-image: linear-gradient(white, white, rgba(137, 214, 238, 0.44), rgba(137, 214, 238, 0.44), rgba(137, 214, 238, 0.70));
  #imgMain {
    background-image: url("/images/background/main.jpeg");
  }

  #imgUser {
    background-image: url("/images/background/user.jpg");
  }

  #imgRestaurant {
    background-image: url("/images/background/restuarant.jpeg");
  }

  #imgMain,
  #imgRestaurant,
  #imgUser {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
    margin-bottom: 1rem;
    box-shadow: 0 -30px 30px 20px white inset;

    h1 {
      color: white;
      font-size: 7rem;
      width: 40vw;
    }
  }

  main {
    margin: 0 auto;
    // background-color: #000000;
    border-radius: 0;
    background-image: linear-gradient(white, rgba(137, 214, 238, 0.44), rgba(137, 214, 238, 0.44), rgba(137, 214, 238, 0.70));
    @import 'menu';
    @import 'orderSlider';
  }
  @import 'orderDetails';
}
