// See: https://sass-lang.com/

body {
  background-color: #EEE;
  main {
    background: #ada717;
    .jumbotron {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: #FFF;
    }
  }
}
