

form{
  text-align: center;
}

th{
  text-align: -webkit-center;
  padding: 10px 5px;
  background-color: rgb(227, 239, 250);
  border-bottom-style: ridge;
}

.col {
  text-align: center;
  text-align: center;
}

.container {
  margin: 1em;

  .order {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: solid #000000;
    border-width: 1px 1 1 1px;

    .s {
      width: 15%
    }

    .m {
      width: 40%
    }
  }
}

